.header {
  background-image: url("https://images.unsplash.com/photo-1647427017067-8f33ccbae493?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  height: 30vh;
}
.headerBanner {
  background-color: rgba(236, 234, 229, 0.527);
}

.headerText {
  color: rgb(241, 241, 241);
  text-shadow: black 0.1em 0.1em 0.2em;
}

.primaryImage {
  width: 100px;
  height: 100px;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  background-color: #ebc3af;
  border: #ebc3af;
}
.btn:hover {
  background-color: #f3dfd6e8;
  border: #f3dfd6e8;
  transform: scale(1.05);
  transition: 0.1s ease;
}
.btn2 {
  background-color: #acdeff;
  border: #acdeff;
}
.btn2:hover {
  background-color: #6ebdf1e0;
  border: #6ebdf1e0;
  color: white;
  text-shadow: 1px 1px 3px rgb(113, 102, 87);
  transform: scale(1.05);
  transition: 0.1s ease;
}
