.gallery {
  margin-top: -15px;
}

.main {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.mainGallery {
  display: block;
  border: 1px solid black;
}

.mainImageWrapper {
  padding-top: 10px;
  width: 100%;
  max-width: 380px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.small {
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.smallGallery {
  width: calc(25% - 8px);
  object-fit: cover;
  object-position: center;
}

.smallGallery img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1; /* 正方形 */
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

.smallGallery:hover {
  box-shadow: 2px 2px 5px lightgray;
}

.cartIcon {
  height: 30px;
}
.btn:hover {
  background-color: #f3dfd6e8;
  border: #f3dfd6e8;
  transform: scale(1.05);
  transition: 0.1s ease;
}
