.header {
  background-image: url("https://images.unsplash.com/photo-1648808692677-017af08104d6?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  height: 30vh;
}
.headerBanner {
  background-color: rgba(236, 234, 229, 0.527);
}

.headerText {
  color: rgb(241, 241, 241);
  text-shadow: black 0.1em 0.1em 0.2em;
}

.cardPhoto {
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.cardTitle {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.3;
}

.cartIcon {
  height: 30px;
}
.btn:hover {
  background-color: #f3dfd6e8;
  border: #f3dfd6e8;
  transform: scale(1.05);
  transition: 0.1s ease;
}
