.carouselPhoto {
  height: 85vh;
  object-fit: cover;
  object-position: center;
}

.carouselOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

.carouselCaption {
  text-align: center;
  left: 8%;
  right: 8%;
  bottom: 15%;
}
.carouselText {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.716);
}

@media (max-width: 768px) {
  .carouselCaption {
    text-align: center;
    bottom: 10%;
  }
}
