.navbarBg {
  background-color: #f3dfd6;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.492);
}

.navbarText {
  color: #70402d;
  text-shadow: 0 1px 2px rgba(60, 30, 20, 0.4);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}

.logo {
  height: 60px;
  width: auto;
  display: block;
}

.navbarText:hover {
  background-color: rgba(252, 246, 239, 0.862);
  border-radius: 8px;
  transform: scale(1.1);
  transition: 0.3s ease;
}

.cartBtn {
  position: relative;
  display: inline;
}
.cartSpan {
  background-color: #e97474;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 12px;
  padding: 4px 6px;
}

.navList {
  width: auto;
}

.navItem {
  margin-right: 1rem;
}

@media (max-width: 991.98px) {
  .navList {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }

  .navItem {
    margin-right: 0;
  }
}
