html,
body {
  height: 100%;
  text-align: center;
}

img {
  object-fit: contain;
  max-width: 100%;
}

.images {
  height: 150px;
  margin-right: 5px; /* 加點邊距 */
}

.btn-hover {
  transition: transform 0.5s ease;
}

.btn-hover:hover {
  transform: scale(1.05);
}
